body {
  background-color: lightblue;
}
h1 {
  color: navy;
  margin-left: 20px;
}
.container {
  display: flex;
  flex-wrap: wra;
  background-color: DodgerBlue;
}

.container div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
