body {
  background-color: lightblue;
  background-image: ("https://www.apu.apus.edu/images/site/cards/is-info…gy-for-me49925868-7868-49c2-be40-6dacbb42e2f8.jpg");
}
h1 {
  color: navy;
  margin-left: 20px;
}