body { 
  background-image: url("https://s3.envato.com/files/202194457/Clean%20Black%20Background%20%20%20%2001_preview1%20.JPG");
  background-size: cover;        
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  color: navy;
  margin-left: 20px;
}


